@import '../../variables';

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  color: black;
  height: 7rem;
  padding: 0 $side-margin;
  align-items: center;

  &__logo a {
    font-size: 2.4rem;
    cursor: pointer;
    text-decoration: none !important;
    color: #000;
  }

  &__categories {
    padding: 0 !important;
    margin: 0 !important;
    display: flex;
    list-style: none;
    height: 100%;
    justify-items: center;
  }

  &__category {
    display: flex;
    align-items: center;
    padding: 0 1.2rem;
    font-size: 1.3rem;
    cursor: pointer;
    font-weight: 500;
    border-bottom: 2px solid #fff;
    text-decoration: none !important;
    color: #000;

    &:hover,
    &:focus {
      outline: none !important;
      border-bottom: 2px solid #000;
    }

    &--active p {
      color: red;
    }
  }

  &__actions {
    display: flex;
    align-items: center;
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.1rem;
    margin-left: 1rem;
    border-radius: 100%;
    height: 42px;
    width: 42px;
    padding: 0.4rem;
    cursor: pointer;

    &:hover,
    &:focus {
      outline: none !important;
      background-color: rgb(214, 214, 214);
    }

    & a {
      color: #000;
    }
  }
}
